aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
attrs
beautifulsoup4
blinker
cachetools
certifi
cffi
charset-normalizer
click
cobble
cryptography
dataclasses-json
defusedxml
distro
et_xmlfile
faiss-cpu
filelock
frozenlist
fsspec
gitdb
GitPython
greenlet
h11
httpcore
httpx
httpx-sse
huggingface-hub
idna
ipywidgets
Jinja2
jiter
joblib
jsonpatch
jsonpickle
jsonpointer
jsonschema
jsonschema-specifications
jupyterlab_widgets
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-ollama
langchain-text-splitters
langsmith
lxml
mammoth
markdown-it-py
markdownify
markitdown
MarkupSafe
marshmallow
mdurl
mpmath
multidict
mypy-extensions
narwhals
networkx
numpy
ollama
openai
openpyxl
orjson
pandas
pathvalidate
pdfminer.six
pillow
propcache
protobuf
puremagic
pyarrow
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pydub
pypdf
PyPDF2
python-dotenv
python-pptx
pytz
pyvis
pywin32
PyYAML
referencing
regex
requests
requests-toolbelt
rich
rpds-py
safetensors
scikit-learn
scipy
sentence-transformers
smmap
sniffio
soupsieve
SpeechRecognition
SQLAlchemy
streamlit
sympy
tenacity
threadpoolctl
tokenizers
toml
torch
tqdm
transformers
typing-inspect
tzdata
urllib3
watchdog
widgetsnbextension
XlsxWriter
yarl
youtube-transcript-api
pyvis
xhtml2pdf 
markdown
streamlit-tags